.table {

}
.table .btnBox {
    text-align: right;
}
.table .btnBox .addBtn {
    margin-bottom: 10px;
}
.table .handle .edit {
    cursor: pointer;
}
.table .handle .edit:hover {
    color: red;
}
.table .handle .delete {
    cursor: pointer;
}
.table .handle .delete:hover {
    color: red;
}
.son {
    display: flex;
    position: relative;
}
.son > .item {
    flex: 1;
}
.son > .item > span {
    width: 30%;
}
.son > .delete {
    position: absolute;
    right: 10px;
    top: 20px;
    cursor: pointer;
}
.son > .delete:hover {
    color: red;
}

